Django>=5.2,<5.3
psycopg[binary]>=3.2,<4
Pillow>=11,<13
django-environ>=0.12,<0.14
whitenoise>=6.9,<7

reportlab>=5.0,<6

gunicorn>=23,<26
django-storages[s3]>=1.14,<2
cryptography>=46,<47
lxml>=6,<7
