<fieldset id="dados-promissoria" class="border rounded p-3 mb-3"><legend class="fs-6">Dados da nota promissória</legend><p class="small">Selecione um cliente com CPF/CNPJ cadastrado. Informe os dados para emissão e assinatura da nota.</p>
<p>{{ form.vencimento.label_tag }}{{ form.vencimento }}{{ form.vencimento.errors }}</p>
<p>{{ form.beneficiario.label_tag }}{{ form.beneficiario }}{{ form.beneficiario.errors }}</p>
<p>{{ form.documento_beneficiario.label_tag }}{{ form.documento_beneficiario }}{{ form.documento_beneficiario.errors }}</p>
<p>{{ form.local_emissao.label_tag }}{{ form.local_emissao }}{{ form.local_emissao.errors }}</p>
<p>{{ form.local_pagamento.label_tag }}{{ form.local_pagamento }}{{ form.local_pagamento.errors }}</p></fieldset>
