<div class="item-documento">
  {% for hidden in item.hidden_fields %}
    {{ hidden }}
    {{ hidden.errors }}
  {% endfor %}

  {{ item.non_field_errors }}

  <div class="item-documento-grid">
    <div class="item-field item-field-peca">
      <label>Produto / Peça</label>
      {{ item.peca }}
      {{ item.peca.errors }}
    </div>

    <div class="item-field item-field-servico">
      <label>Serviço</label>
      {{ item.servico }}
      {{ item.servico.errors }}
    </div>

    <div class="item-field item-field-qtd">
      <label>Qtd.</label>
      {{ item.quantidade }}
      {{ item.quantidade.errors }}
    </div>

    <div class="item-field item-field-preco">
      <label>Valor unitário</label>
      {{ item.preco }}
      {{ item.preco.errors }}
    </div>

    <div class="item-field item-field-total">
      <label>Total</label>
      <strong class="item-total">R$ 0,00</strong>
    </div>

    <div class="item-field item-field-remover">
      <label>&nbsp;</label>
      <label class="item-remover">
        {{ item.DELETE }}
        <span>Remover</span>
      </label>
    </div>
  </div>
</div>