{% load static %}
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/register-symbol-clear-32.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/register-symbol-clear-192.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/register-symbol-clear-180.png' %}">
<link rel="manifest" href="{% static 'manifest.webmanifest' %}">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="PontoCar">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
